<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <title>Movie Form</title>
</head>
<body>
<h2>Movie Registration</h2>
<form th:action="@{/savemoviefromhtml}" th:object="${movie}" method="post">
    <label>MovieName:</label>
    <input type="text" th:field="*{movieName}" required/>
    <br/><br/>
    <label>Movie Type:</label>
    <input type="text" th:field="*{movieType}" required/>
    <br/><br/>
    <label>Lead Role:</label>
    <input type="text" th:field="*{leadRole}" required/>
    <br/><br/>
    <label>Budget:</label>
    <input type="text" th:field="*{budget}" required/>
    <br/><br/>
    <button type="submit">Save Movie</button>
</form>
</body>
</html>